/*
 * Empty Stylesheet file.
 */
#VBoxCardiovascularArea{
    -fx-background-image: url("../img/Cardiovascular-area.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#VBoxFunctionalFitnessArea{
    -fx-background-image: url("../img/Functional-fitness-area.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#VBoxFreeWeightsArea{
    -fx-background-image: url("../img/Free-weights-area.jpeg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#VBoxStretchingAndMobilityArea{
    -fx-background-image: url("../img/Stretching-and-mobility-area.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#VBoxPersonalTrainingCorners{
    -fx-background-image: url("../img/Personal-training-corners.jpeg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.itemAreas{
    -fx-background-image: url("../img/Gym-structure.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;

    -fx-opacity: 0.9;
    -fx-effect: dropshadow(three-pass-box, black, 10,0.03, 5, 5);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.itemAreasTitle{
    -fx-background-color:#81D4FA;
}

.itemAreas:hover{
    -fx-background-color:  #29B6F6;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

.itemAreas:pressed{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
